* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: #000 url('../images/background.jpg');
	font-family: font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	color: #333;
}

#container {
	max-width: 1080px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.8);
	padding: 25px;
}

header {
	width: 100%;
	float: left;
	padding-bottom: 25px;
	background-color: pink;
}

header h1 {
	float: left;
}

header nav {
	float: right;
}

header nav ul li {
	display: inline;
	margin: 0 10px;
}

section {
	width: 65%;
	float:left;
	
}

aside {
	width:35%;
	float: right;
	background-color: white;
}

.left {
	float: left;
	margin-right: 10px;
}

.right {
	float: left;
	margin-right: 10px;
}
footer {
	width: 100%;
	clear: both;
	background-color: yellow;

}







